:root {
    --rtbf-black: #000000;
    --rtbf-white: #FFFFFF;
    --rtbf-primary: #004594;
    --rtbf-secondary: #0066B0;

    --rtbf-content-100: #F7F7F7;
    --rtbf-content-200: #EBF3F7;
    --rtbf-content-300: #DEE6ED;
    --rtbf-content-400: #BECCDA;
    --rtbf-content-500: #A1B3C3;
    --rtbf-content-600: #8596AD;
    --rtbf-content-600: #8596AD;
    --rtbf-content-700: #4A5768;
    --rtbf-content-800: #3B424A;
    --rtbf-content-900: #2E3238;
    --rtbf-content-900: #2E3238;

    --rtbf-heading-100: #E5E7EB;
    --rtbf-heading-200: #E7ECF2;
    --rtbf-heading-300: #D6DEE7;
    --rtbf-heading-400: #CCD4DC;
    --rtbf-heading-500: #698496;
    --rtbf-heading-600: #536876;
    --rtbf-heading-700: #3E5463;
    --rtbf-heading-800: #2F4656;
    --rtbf-heading-900: #203442;

    --rtbf-blue-100: #E4E8F0;
    --rtbf-background-burger-blue: #1D4DA5;
    --rtbf-background-dark-blue: #003D60;
    --rtbf-background-dark-teal: #125A6A;
    --rtbf-background-dark: #001324;
    --rtbf-background-light-blue: #00507D;
    --rtbf-background-light-teal: #52C1C6;
    --rtbf-background-light: #F7F8FB;
    --rtbf-background-light: #F7F8FB;
    --rtbf-blue-150: #D8ECF0;
    --rtbf-blue-200: #B1BEDC;
    --rtbf-blue-300: #6F88C2;
    --rtbf-blue-400: #4263B0;
    --rtbf-blue-500: #0057A2;
    --rtbf-blue-600: #004581;
    --rtbf-blue-700: #003A6E;
    --rtbf-blue-800: #003568;
    --rtbf-blue-900: #003671;
    --rtbf-brand-classic21: #812c81;
    --rtbf-brand-ixpe: #00009B;
    --rtbf-brand-laPremiere: #003399;
    --rtbf-brand-laTrois: #9966CC;
    --rtbf-brand-laUne: #CC3300;
    --rtbf-brand-musiq3: #CC3333;
    --rtbf-brand-ouftivi: #009999;
    --rtbf-brand-tarmac: #000000;
    --rtbf-brand-tipik: #05F05A;
    --rtbf-brand-vivaCite: #E64210;
    --rtbf-brand-vivaPlus: #E64210;
    --rtbf-brand-vivreIci: #1291C0;
    --rtbf-gray-100: #F3F4F6;
    --rtbf-gray-200: #E5E7EB;
    --rtbf-gray-300: #D1D5DB;
    --rtbf-gray-400: #9CA3AF;
    --rtbf-gray-500: #6B7280;
    --rtbf-gray-600: #4B5563;
    --rtbf-gray-700: #374151;
    --rtbf-gray-800: #1F2937;
    --rtbf-gray-900: #111827;
    --rtbf-gray: #181818;
    --rtbf-green: #008937;
    --rtbf-lightgray: #AAAAAA;
    --rtbf-nav-mobile: #676A87;
    --rtbf-navy-blue-100: #CADFEB;
    --rtbf-navy-blue-200: #72B1D6;
    --rtbf-navy-blue-300: #3182B0;
    --rtbf-navy-blue-500: #00507D;
    --rtbf-navy-blue-700: #003D60;
    --rtbf-navy-blue-800: #00273D;
    --rtbf-navy-blue-900: #001A29;
    --rtbf-orange: #F29019;
    --rtbf-pink: #F2D2C3;
    --rtbf-progress-gray: #404040;
    --rtbf-pureblue: #0076A9;
    --rtbf-purple-100: #A9ACD8;
    --rtbf-purple-200: #8183AD;
    --rtbf-purple-300: #676A92;
    --rtbf-purple-400: #4F5178;
    --rtbf-purple-500: #33355A;
    --rtbf-purple-600: #2E3053;
    --rtbf-purple-700: #2A2C4C;
    --rtbf-purple-800: #262745;
    --rtbf-purple-900: #1E1F3A;
    --rtbf-red: #D01111;
    --rtbf-redish: #E55232;
    --rtbf-sand-100: #F8F8F7;
    --rtbf-sand-200: #EBEAE6;
    --rtbf-sand-300: #CFCDC9;
    --rtbf-sand-500: #E5DDC8;
    --rtbf-sand-700: #9D9B95;
    --rtbf-sand-800: #6B6861;
    --rtbf-sand-900: #343432;
    --rtbf-teal-100: #CFEFF0;
    --rtbf-teal-200: #91DADD;
    --rtbf-teal-300: #52C1C6;
    --rtbf-teal-400: #11A4AA;
    --rtbf-teal-500: #018489;
    --rtbf-teal-800: #125A6A;
    --rtbf-teal-900: #07364A;
    --rtbf-v2-blue-100: #C4D1EA;
    --rtbf-v2-blue-200: #5F8FE7;
    --rtbf-v2-blue-300: #366CCD;
    --rtbf-v2-blue-400: #045888;
    --rtbf-v2-blue-500: #174290;
    --rtbf-v2-blue-600: #123472;
    --rtbf-v2-blue-700: #0F2A5B;
    --rtbf-yellow-200: #FFE899;
    --rtbf-yellow-300: #FFDC66;
    --rtbf-yellow-400: #FFD033;
    --rtbf-yellow-500: #FDC300;
    --rtbf-yellow-700: #997600;
    --rtbf-yellow-800: #664F00;
    --rtbf-yellow-900: #332700;
    --rtbf-yellow: #FFCD00;
}