.user-nav {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .user-nav {
        position: relative;
    }
}

.user-nav[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: 71px;
    z-index: 1;
}

.user-nav[aria-expanded="true"]>a {
    display: block;
    margin: 20px;
}

.user-nav[aria-expanded="true"]>.user-nav-list li {
    display: block;
}

.user-nav[aria-expanded="true"]>.user-nav-list a {
    display: block;
    margin: 20px;
}

.user-nav-list {
    display: block;
    list-style: none;
}

.user-nav-list>li {
    display: inline-block;
}

@media (max-width: 768px) {
    .nav-wrapper-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-wrapper-desktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-wrapper-desktop {
        display: inline-block;
    }
}

.nav-wrapper-desktop a {
    border: 0;
    color: white;
    display: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

@media (min-width: 768px) {
    .nav-wrapper-desktop a {
        display: inline-block;
    }
}

[dir="rtl"] .nav-wrapper-desktop a {
    padding: 0 0 0 20px;
}

.nav-wrapper-desktop a:hover,
.nav-wrapper-desktop a:focus,
.nav-wrapper-desktop a:active {
    background-color: transparent;
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .nav-wrapper-mobile {
        display: none;
    }
}

.nav-wrapper-mobile .menu-button-mobile {
    background: none;
    border: 0;
    width: auto;
    min-width: 71px;
    cursor: pointer;
}

.nav-wrapper-mobile .menu-button-mobile .icon-menu {
    padding: 7px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-wrapper-mobile .menu-button-mobile[aria-expanded="true"] .icon-menu {
    background: #f3f3f3;
}

.nav-wrapper-mobile .menu-list-mobile {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 2;
}

.nav-wrapper-mobile .menu-list-mobile[aria-expanded="false"] {
    display: none;
}

.nav-wrapper-mobile .menu-list-mobile[aria-expanded="true"] {
    display: block;
}

.nav-wrapper-mobile .menu-list-mobile-items .item {
    margin: 4px 0;
}

.nav-wrapper-mobile .menu-list-mobile-items li:empty:not(.nav-divider) {
    display: none;
}

.nav-wrapper-mobile .menu-list-mobile-items .nav-divider {
    border-bottom: 0.1px solid #ddd;
    padding: 0;
}

.nav-wrapper-mobile .menu-list-mobile-items .nav-divider:last-child {
    display: none;
}

.nav-wrapper-mobile .menu-list-mobile-items button {
    background: none;
    border: none;
    padding: 8px 24px;
    width: 100%;
    height: 100%;
    color: #2F3941;
    cursor: pointer;
    text-align: start;
}

.nav-wrapper-mobile .menu-list-mobile-items button:active,
.nav-wrapper-mobile .menu-list-mobile-items button:focus,
.nav-wrapper-mobile .menu-list-mobile-items button:hover {
    background-color: #f3f3f3;
    text-decoration: underline;
}

.nav-wrapper-mobile .menu-list-mobile-items a {
    display: block;
    padding: 8px 24px;
    width: 100%;
    height: 100%;
    color: #2F3941;
}

.nav-wrapper-mobile .menu-list-mobile-items a:active,
.nav-wrapper-mobile .menu-list-mobile-items a:focus,
.nav-wrapper-mobile .menu-list-mobile-items a:hover {
    background-color: #f3f3f3;
}

.nav-wrapper-mobile .menu-list-mobile-items .my-profile {
    display: flex;
    line-height: 1.5;
}

.nav-wrapper-mobile .menu-list-mobile-items .my-profile .my-profile-tooltip {
    font-size: 12px;
    color: #68737D;
}

.nav-wrapper-mobile .menu-list-mobile-items .menu-profile-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-top: 1px;
}

[dir="rtl"] .nav-wrapper-mobile .menu-list-mobile-items .menu-profile-avatar {
    margin-right: 0;
    margin-left: 8px;
}

/***** User info in header *****/
.user-info {
    display: inline-block;
}

.user-info .dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
    .user-info .dropdown-toggle::after {
        display: inline-block;
    }
}

.user-info>button {
    border: 0;
    color: white;
    min-width: 0;
    padding: 0;
    white-space: nowrap;
}

.user-info>button:hover,
.user-info>button:focus {
    background-color: transparent;
}

.user-info>button::after {
    color: #1F73B7;
    padding-right: 15px;
}

[dir="rtl"] .user-info>button::after {
    padding-left: 15px;
    padding-right: 0;
}

#user #user-name {
    display: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    #user #user-name {
        display: inline-block;
    }
}

#user #user-name:hover {
    text-decoration: underline;
}

/***** User avatar *****/
.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.avatar {
    display: inline-block;
    position: relative;
}

.avatar img {
    height: 40px;
    width: 40px;
}

.avatar .icon-agent {
    color: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -4px;
    background-color: #fff;
    font-size: 17px;
    height: 17px;
    line-height: 17px;
    position: absolute;
    right: -2px;
    text-align: center;
    width: 17px;
}

/* Navigation element that collapses on mobile */
.collapsible-nav {
    flex-direction: column;
    font-size: 14px;
    position: relative;
}

@media (min-width: 768px) {
    .collapsible-nav {
        flex-direction: row;
    }
}

.collapsible-nav-border {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
    .collapsible-nav-border {
        border-top: 0;
    }
}

.collapsible-nav-toggle {
    top: calc(45px / 2);
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    padding: 0;
    border: 0;
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .collapsible-nav-toggle {
        display: none;
    }
}

[dir="rtl"] .collapsible-nav-toggle {
    left: 0;
    right: auto;
}

.collapsible-nav-toggle-icon {
    display: none;
}

.collapsible-nav-toggle[aria-expanded="false"] .chevron-icon {
    display: inline-block;
}

.collapsible-nav-toggle[aria-expanded="true"] .x-icon {
    display: inline-block;
}

.collapsible-nav-toggle:focus {
    outline: none;
    border: 1px solid cyan;
}

.collapsible-nav-list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .collapsible-nav-list {
        flex-direction: row;
    }
}

.collapsible-nav-list li {
    color: black;
    line-height: 45px;
    order: 1;
}

@media (min-width: 768px) {
    .collapsible-nav-list li {
        line-height: normal;
        margin-right: 30px;
    }

    [dir="rtl"] .collapsible-nav-list li {
        margin-left: 30px;
        margin-right: 0;
    }

    .collapsible-nav-list li a {
        text-decoration: none;
        padding: 15px 0;
    }
}

.collapsible-nav-list li a {
    color: black;
    display: block;
}

@media (min-width: 768px) {
    .collapsible-nav-list li:hover {
        border-bottom: 4px solid #ddd;
    }

    .collapsible-nav-list li:hover a:not([aria-current="page"]) {
        padding: 15px 0 11px 0;
        text-decoration: none;
    }
}

.collapsible-nav-list li:not([aria-selected="true"]),
.collapsible-nav-list li:not(.current) {
    display: none;
}

@media (min-width: 768px) {

    .collapsible-nav-list li:not([aria-selected="true"]),
    .collapsible-nav-list li:not(.current) {
        display: block;
    }
}

@media (min-width: 768px) {
    .collapsible-nav-list li[aria-selected="true"] {
        padding: 15px 0 11px 0;
    }
}

.collapsible-nav-list li[aria-selected="true"],
.collapsible-nav-list li.current {
    order: 0;
    position: relative;
}

@media (min-width: 768px) {

    .collapsible-nav-list li[aria-selected="true"],
    .collapsible-nav-list li.current {
        border-bottom: 4px solid black;
        order: 1;
    }
}

.collapsible-nav-list li[aria-selected="true"] a,
.collapsible-nav-list li.current a {
    color: black;
}

.collapsible-nav[aria-expanded="true"] li:not([aria-selected="true"]),
.collapsible-nav[aria-expanded="true"] li:not(.current) {
    display: block;
}

/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

@media (min-width: 1024px) {
    .collapsible-sidebar {
        max-height: none;
        padding: 0;
    }
}

.collapsible-sidebar-title {
    margin-top: 0;
}

.collapsible-sidebar-toggle {
    position: absolute;
    top: calc(45px / 2);
    transform: translateY(-50%);
    right: 0;
    padding: 0;
    border: 0;
    background: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

@media (min-width: 1024px) {
    .collapsible-sidebar-toggle {
        display: none;
    }
}

[dir="rtl"] .collapsible-sidebar-toggle {
    left: 0;
    right: auto;
}

.collapsible-sidebar-toggle-icon {
    display: none;
}

.collapsible-sidebar-toggle[aria-expanded="false"] .chevron-icon {
    display: inline-block;
}

.collapsible-sidebar-toggle[aria-expanded="true"] .x-icon {
    display: inline-block;
}

.collapsible-sidebar-toggle:focus {
    outline: none;
    border: 1px solid cyan;
}

.collapsible-sidebar-body {
    display: none;
}

@media (min-width: 1024px) {
    .collapsible-sidebar-body {
        display: block;
    }
}

.collapsible-sidebar[aria-expanded="true"] {
    max-height: none;
}

.collapsible-sidebar[aria-expanded="true"] .collapsible-sidebar-body {
    display: block;
}

/* dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    background: none;
    border: 0;
    display: inline-block;
    padding: 0;
    text-align: initial;
    vertical-align: middle;
}

.dropdown-toggle:hover {
    text-decoration: none;
}

.dropdown-toggle>* {
    display: inline-block;
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #87929D;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin-top: 1px;
    min-width: 170px;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

[dir="rtl"] .dropdown-menu {
    text-align: right;
}

.dropdown-menu[aria-expanded="true"] {
    display: block;
}

.dropdown-menu [role="separator"] {
    border-bottom: 1px solid #e9ebed;
    margin: 4px 0;
}

.dropdown-menu [role="menuitem"] {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 7px 40px 7px 20px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    text-align: start;
    line-height: inherit;
    width: 100%;
}

[dir="rtl"] .dropdown-menu [role="menuitem"] {
    padding: 7px 20px 7px 40px;
}

.dropdown-menu [role="menuitem"]:hover,
.dropdown-menu [role="menuitem"]:focus {
    background: #f3f3f3;
    text-decoration: none;
    color: #333;
}

.dropdown-menu [role="menuitem"][aria-selected="true"] {
    cursor: default;
}

.dropdown-menu [role="menuitem"][aria-selected="true"]::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 7l3 3 7-7'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

[dir="rtl"] .dropdown-menu [role="menuitem"][aria-selected="true"]::after {
    margin-left: 0;
    margin-right: 10px;
    float: left;
}

.dropdown-menu [role="menuitem"][hidden],
.dropdown-menu [role="menuitem"][aria-hidden="true"] {
    display: none !important;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
}

.dropdown-menu-top {
    bottom: 100%;
    margin-bottom: 1px;
}

[dir="rtl"] .dropdown-menu {
    left: auto;
    right: 0;
    text-align: right;
}

[dir="rtl"] .dropdown-menu-end {
    left: 0;
    right: auto;
}

.dropdown-chevron-icon {
    vertical-align: middle;
}